### byte-compiled ###
__pycache__/
*.py[cod]


### c extensions ###
*.so


### distribution ###
build
dist
*.egg-info
*.egg


### osx ###
.DS_Store


### pypi token ###
pypi-token.pypi


### pytest ###
.pytest_cache


### ruff ###
.ruff_cache


### virtualenv ###
.venv
.python-version


### workspaces ###
.crush
.cursor
.editorconfig
.idea
.ignore
.vscode
.zed
